{% extends 'base.html' %}

{% block content %}

<!-- Score and timer display -->
<h2 id="score">Current score: 0 </h2>
<h2 id="highscore">Highscore: {{highscore}}</h2>
<h2 id="timer">Timer: 60</h2>
<form action="/">
    <button id="restart">Restart</button>
</form>

<!-- Gameboard display -->
<table>
    {% for row in content %}
        <tr>
        {% for letter in row %}
            <td>{{letter}}</td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>

<!-- Form for new word -->
<form id="wordForm" action="">
    <label for="">Enter your word here: </label> 
    <input type="text" name="new_word">
    <button id="submit">Submit word</button>
    </form>

{% endblock %}