{% extends 'base.html' %}

{% block content %}

<!-- Score and timer display -->
<h2 id="score">Your score: 0</h2>
<h2 id="timer">Timer: 60</h2>

<!-- Gameboard display -->
<table>
    {% for row in content %}
        <tr>
        {% for letter in row %}
            <td>{{letter}}</td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>

<!-- Form for new word -->
<form action="">
    <label for="">Enter your word here: </label> 
    <input type="text" name="new_word">
    <button>Submit word</button>
    </form>

{% endblock %}